<div class="mb-3 text-center SuccessCss">
    <%if(success && success.length){%>
      <p><%=success%></p>
    <%}%>
  </div>
  <div class="mb-3 text-center errorCss">
    <%if(error && error.length){%>
      <p><%=error%></p>
    <%}%>
</div>