<nav class="col-2">
    <a href="/tweet"><i class="fab fa-twitter bird"></i></a>
    <div class="linkNav">
        <a href="/tweet">
            <i class="fas fa-home"></i>
            <p class="d-none d-md-block">Home</p>
        </a>
    </div>
    <div class="linkNav">
        <a href="/profile">
            <i class="far fa-user"></i>
            <p class="d-none d-md-block">Profile</p>
        </a>
    </div>
    <!-- <div class="linkNav">
        <a href="#">
            <i class="fas fa-bell"></i>
            <p class="d-none d-md-block">Notifications</p>
        </a>
    </div> -->
    <div class="linkNav">
        <a href="/messages">
            <i class="far fa-envelope"></i>
            <p class="d-none d-md-block">Messages</p>
        </a>
    </div>
    <!-- <div class="linkNav">
        <a href="#">
            <i class="fa fa-bookmark-o"></i>
            <p class="d-none d-md-block">Bookmarks</p>
        </a>
    </div> -->
    <div class="linkNav">
        <a href="/list">
            <i class="fa fa-list-alt"></i>
            <p class="d-none d-md-block">List</p>
        </a>
    </div>
    <div class="linkNav">
        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <p class="d-none d-md-block">Signout</p>
        </a>
    </div>
</nav>