<nav class="col-2">
    <a href="/"><i class="fab fa-accusoft bird"></i></a>
    <div class="linkNav">
        <a href="/profile">
            <i class="far fa-user"></i>
            <p class="d-none d-md-block">Dashboard</p>
        </a>
    </div>
    <div class="linkNav">
        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <p class="d-none d-md-block">Signout</p>
        </a>
    </div>
</nav>