<%- include("../partials/header") %>


<div class="d-flex">
    <div class="d-flex flex-lg-row flex-sm-column-reverse">
        <div class="containerRight col-lg-6 d-none d-sm-block">
            <div class="maintxt">
                <div class="AccusoftBg">
                    <img src="/images/bg.jpg" alt="bg" />
                    <i class="fab fa-accusoft overlay-text"></i>
                </div>
            </div>
        </div>
        <div class="containerLeft col-lg-6">
            <i class="fab fa-accusoft accSvg"></i>
            <h4>Join Accusoft today.</h4>
            <a href="/register"><button class="signUp">Sign up</button></a>
            <a href="/login"><button class="login">Log in</button></a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
  
<footer>
    <ul class="links">
        <li>About</li>
        <li>Help Center</li>
        <li>Terms of Service</li>
        <li>Privacy Policy</li>
        <li>Settings</li><br>
        <li style="text-decoration: none;">© 2021 Accusoft, Inc.</li>
    </ul>
</footer> 